input._sg-uploader-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

._sg-uploader-container{
    padding:5px;
}

._sg-uploader-container.highlight {
    box-shadow: 0 0 10px 1px #1487db;
}

._sg-uploader-button{
    margin-left:7px;
}

._sg-uploader-filesList{
    padding: 5px 0;
    max-height:150px;
    width:100%;
    overflow: auto;
}

._sg-uploader-filesList li {
    list-style-type: none;
}